# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [2]:
# Program for area of rectangle
length = int(input("Enter the lenght of the rectangle : ")) #taking input for length
width = int(input("Enter the width of the rectangle : ")) #taking input for width(breadth)

Area = length * width   #formula for area
print(f"Area of rectangle is : {Area}.")  #printing the output

Entet the lenght of the rectangle : 15
Enter the width of the rectangle : 4
Area of rectangle is : 60.

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [48]:
# Swapping two numbers without temp variable
a = int(input("Enter the first number : "))  # taking inputs from user
b = int(input("Enter the second number : "))

a,b = b,a  # swapping the numbers
print(f"The first number after swapping is : {a}")  # printing numbers after swapping
print(f"The second number after swapping is : {b}")

Enter the first number : 27
Enter the second number : 99
The first number after swapping is : 99
The second number after swapping is : 27

(3) Write a Python program to calculate the length of a string.

In [3]:
# Calculating length of the string
str1ng = 'First in class exercise' # example string
# calculating and printing the length using len function
print(f"Length of the string is {len(str1ng)}")

Length of the string is 23

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
# Program to calculate the number of characters in a string
from collections import Counter
# importing counter, which is an in-built python function used for counting characters in collections like strings.

str_ng = 'google.com' # given string
count_str_ng = Counter(str_ng) # assigning the count to a new variable
print(count_str_ng) # printing the output

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(5) Write a Python program to sum all the items in a list.

In [7]:
# Sum of all items in  a list
li_t = [2,2,5,4,5,10,24]  # sample list
# calculating sum using sum function and printing the output
print(f"The items in the list are : {li_t}")
print(f"Sum of the list is : {sum(li_t)}")

The items in the list are : [2, 2, 5, 4, 5, 10, 24]
Sum of the list is : 52

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [11]:
my_string = 'reciprocate'    # sample string
print(f"Original string : {my_string}")

def replace_char():    # writing a function for replacing the first character occurence as '$'
  first_char = my_string[0]  # assigniong the first character to a varaible
  new_string = first_char + my_string[1: ].replace(first_char, '$')  # replacing all the first character occurances with '$'
  return new_string

print(f"New string from the original : {replace_char()}")  # printing the output

Original string : reciprocate
New string from the original : recip$ocate

(7) Create a program that calculates the factorial of a number using a while loop.

In [10]:
# factorial using while loop
num = int(input("Enter a number: "))  # input asking for a number

def fact_calculate(n):   # creating a function that uses while loop to calculate factorial of given number taken from input
    fact = 1
    while n > 1:
        fact *= n
        n -= 1
    return fact

# printing the result
print(f"Factorial of {num} is : {fact_calculate(num)}")

Enter a number: 5
Factorial of 5 is : 120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [12]:
li_st = []

# asking for number of elements as input
inp_list = int(input("Enter number of elements : "))

# looping to the range and taking numbers to add to list
for n in range(0, inp_list):
	nums = int(input(" Enter the numbers you want to add to the list : "))
	# adding the element
	li_st.append(nums)

print(f"The original list is  : {li_st}")

def even_list(list1): # creating a function to create a list with only even numbers from original list

  new_list = [] # creating a blank new list for even numbers
  for x in list1: # iterating to check for even numbers
    if x % 2 == 0:
      new_list.append(x) # adding the even numbers to the new list
  return new_list

print(f"The new list is : {even_list(li_st)}")   # printing output

Enter number of elements : 8
 Enter the numbers you want to add to the list : 25
 Enter the numbers you want to add to the list : 100
 Enter the numbers you want to add to the list : 1003
 Enter the numbers you want to add to the list : 5
 Enter the numbers you want to add to the list : 44
 Enter the numbers you want to add to the list : 28
 Enter the numbers you want to add to the list : 15
 Enter the numbers you want to add to the list : 4008
The original list is  : [25, 100, 1003, 5, 44, 28, 15, 4008]
The new list is : [100, 44, 28, 4008]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [13]:
a = float(input("enter a number for a : "))
b = float(input("enter a number for b : "))

S=3.14*(1+a/b)**3

print(S)

enter a number for a : 4
enter a number for b : 3
39.88962962962962

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
# Concatenating dictionaries
dict_1 = {1:10, 2:20}
dict_2 = {3:30, 4:40}
dict_3 = {5:50, 6:60}

concat_result = {**dict_1, **dict_2, **dict_3}  # merging dictionaries

print("Concatenated list  : ", concat_result)

Concatenated list  :  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [46]:
# Tuple

def tuple_min_max(tuPLe):
    largest_element = max(tuPLe)
    smallest_element = min(tuPLe)
    return largest_element, smallest_element

tu_ple = (10,14,567,23,5,550,1000,680,1052,29,11,6,3,50)

# Call the function and print the results
largest, smallest = tuple_min_max(tu_ple)
print(f"Tuple : {tu_ple}")
print(f"The largest element in the above tuple is : {largest}")
print(f"The smallest element in the above tuple is : {smallest}")

Tuple : (10, 14, 567, 23, 5, 550, 1000, 680, 1052, 29, 11, 6, 3, 50)
The largest element in the above tuple is : 1052
The smallest element in the above tuple is : 3

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [16]:
# Frequency of characters in string
def count_frequency(string):   # creating a function to count the frequency of characters in a string
    frequency = {}              # empty dictionary to store characters

    for char in string:
        if char in frequency:   # iterating through the list characters
           frequency[char] += 1   # adding the character with frequency count to the empty dictionary
        else:
            frequency[char] = 1

    return frequency

# asking for an input string
input_string = input("Enter a string: ")

# Count and print the frequency of characters
frequency_dict = count_frequency(input_string)
print("Character Frequency:", frequency_dict)

Enter a string: The best is yet to come
Character Frequency: {'T': 1, 'h': 1, 'e': 4, ' ': 5, 'b': 1, 's': 2, 't': 3, 'i': 1, 'y': 1, 'o': 2, 'c': 1, 'm': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [20]:
# write your answer here
tup_le = (10,11,2,600,75,32,79)  # given tuple
a = int(input("enter an element to check : "))     # asking for user input to check if that is present in the tuple

result = a in tup_le          # using 'in' to check for the presence of user input in the tuple
print(f"The element {a} exists in tuple : ? {result}")   # printing the result

enter an element to check : 600
The element 600 exists in tuple : ? True

(14) Write a Python program to find maximum and the minimum value in a set.

In [21]:
# write your answer here
se1 = {475, 3798,94,1,2,9286,250,46}
print(f"Set : {se1}")
print(f"The maximum value in the set is : {max(se1)}")
print(f"The minimum value in the set is : {min(se1)}")

Set : {1, 2, 9286, 46, 3798, 250, 475, 94}
The maximum value in the set is : 9286
The minimum value in the set is : 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [1]:
# Class Groups

import random

student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

# Shuffle the student list to randomize the order
random.shuffle(student_list_fall_2023)

# Initialize variables
group_count = 0
group_size = 0
group = []

# Divide students into groups
for student in student_list_fall_2023:
    if group_size < 4 or (group_size < 6 and group_count == 5):
        group.append(student)
        group_size += 1
    else:
        print(f"Group {group_count + 1}:", group)
        group = [student]
        group_size = 1
        group_count += 1

# Print the last group
print(f"Group {group_count + 1}:", group)

Group 1: ['ag1609', 'mc1453', 'as2819', 'vm0597']
Group 2: ['mg1299', 'vr0331', 'lp0502', 'sp2075']
Group 3: ['ss2981', 'dv0310', 'gm0558', 'sd0926']
Group 4: ['vkk0022', 'sm2343', 'sm2364', 'sb1883']
Group 5: ['mb1296', 'am2807', 'yr0180', 'tc0469']
Group 6: ['pm0658', 'sg1638', 'su0137', 'sm2747', 'mt0825', 'lb0582']
Group 7: ['ac1770', 'ad1187', 'sb1826', 'gk0257']
Group 8: ['gp0306', 'sr1508', 'bk0413', 'dt0463']
Group 9: ['rm1090', 'ns0756', 'htn0086', 'sd1268']
Group 10: ['am2346', 'ab1820', 'sc1622']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [22]:
def duplicate(array):     # writing a function to find duplicates in an array
    em_set = set()        # creating an empty set to store the duplicates
    no_duplicate = -1    # creating a varuable for returning -1 if there are no duplicates

    for i in range(len(array)):   # looping through the array elements to check for duplicates

        if array[i] in em_set:
            return array[i]
        else:
            em_set.add(array[i])

    return no_duplicate

arr = [45,67,88,92,1,4,10,2,8,123,42,77,12,89,33,50]
print("Given array : ", arr)

result = duplicate(arr)
print(result)

Given array :  [45, 67, 88, 92, 1, 4, 10, 2, 8, 123, 42, 77, 12, 89, 33, 50]
-1

(17) Write a Python program to select all the Sundays of a specified year.

In [23]:
import datetime

def find_sundays(year):    # creating a function which takes year as the input and returns the sundays in that year
    sundays = []           # empty list to add sundays
    date = datetime.date(year, 1, 1)    # assigning the first day of the year
    delta = datetime.timedelta(days=1)

    while date.year == year:         # looping to check if the day is sunday or no
        if date.weekday() == 6:  # Sunday has weekday index 6
            sundays.append(date)
        date += delta

    return sundays

year = int(input("Enter the year: "))      # input asking for a specific year to find all the sundays

sundays = find_sundays(year)
for sunday in sundays:
    print(sunday)               # printing results

Enter the year: 2019
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [29]:
def factorial(x):   # creating a function for calculating factorial
    if x == 0 or x == 1:
        return 1
    else:
        return x * factorial(x - 1)

inp = int(input("Enter a positive integer: "))      # asking for a number as input to calculate the factorial

if inp < 0:
    print("Negative numbers don't have a factorial")
else:
    fact_result = factorial(inp)
    print(f"The factorial of {inp} is {fact_result}.")

Enter a positive integer: -1
Negative numbers don't have a factorial

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [40]:

inp_n = int(input("Enter a number: "))   # asking for user input

count = 0

for num in range(1, inp_n + 1):   # looping from 1 upto the number given by user
    if num % 2 == 0:                # checking if the number is even
        count += 1                    # using count to increment the numbers and take their count if even

    if num > inp_n:                 # if the number is odd and is greater than input then the loop will break
       break


print(f"The count of even numbers from 1 to {inp_n} is {count}.")

Enter a number: 10
The count of even numbers from 1 to 10 is 5.

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [42]:
# write your answer here
def count_vowels(str):         # creating count vowels function
  vowels = {'a','e','i','o','u','A','E','I','O','U'}     # storing the vowels both upper and lowercase in a string
  store_count = {}             # creating an empty string to store the count of each vowel
  for vowel in vowels:
    store_count[vowel] = 0    # setting the vowel count initially to zero for each of the vowels

  for char in str :           # uterating through each of the ccharacters of the string to check for vowels
    if char in vowels:
      store_count[char] += 1    # if vowels are present then increment the count of the particular vowel and add it to the count string


  return store_count

string1 = "Hello World"            # random string
print(f"{count_vowels(string1)}")   # printing the results

{'i': 0, 'a': 0, 'o': 2, 'e': 1, 'u': 0, 'A': 0, 'O': 0, 'I': 0, 'E': 0, 'U': 0}